.navbar {
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1000;
}

.navbar .navbar__links {
    gap: 1rem;
    align-items: center;
}

.navbar .nav__item {
    cursor: pointer;
    font-size: var(--font-size-base);
    font-weight: 500;
    transition: var(--transition);
}

.navbar .nav__item:hover {
    color: var(--primary)
}

.navbar .cancel__btn, .navbar .menu__btn {
    font-size: 30px;
    background: transparent;
    display: none;
}

@media (max-width: 1000px) {
    .navbar .social__handles {
        display: none;
    }
}

@media (max-width: 950px) {
    .navbar .navbar__links{
        flex-direction: column;
        align-items: stretch;
        position: fixed;
        width: 320px;
        max-width: 100%;
        min-height: 100vh;
        height: 100%;
        top: 0;
        left: -340px;
        z-index: 1100;
        background: var(--bg-secondary);
        transform: var(--transition);
        padding: 1rem;
    }
    
    .navbar .navbar__links.visible {
        left: 0;
    }

    .navbar .cancel__btn,
    .navbar .menu__btn {
        display: flex;
    }
}